:root {
  font-size: 10px;
}

body {
  font-family: "Sofia Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  font-display: swap;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Sofia Sans", sans-serif;
  line-height: 1.05;
  font-display: swap;
}

h2 {
  font-size: clamp(4rem, 4.5vw, 12rem);
  color: white;
  letter-spacing: 0.4rem;
}

button, .button, h2, h3 {
  font-family: 'Staatliches', sans-serif;
  font-display: swap;
}

button, .button {
  color: black;
  font-size: 2.4rem;
  background-image: url('/assets/button-bg.svg');
}